@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 32px;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  color: white;
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 999px;
  border: none;
}

.purple {
  color: #6415ff;
}

img {
  width: 100%;
}

/* 

NAVIGATION BAR

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 12px;
}

.treact {
  font-size: 24px;
  font-weight: 900;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  color: #243e63;
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
}

.nav__list--login {
  margin-left: 24px;
}

.nav__signup--btn .nav__link {
  color: white;
}

/* 

HEADER

*/

header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__description {
  width: 40%;
}

.header__title {
  font-size: 36px;
}

.header__para {
  font-size: 16px;
  margin: 32px 0;
  line-height: 1.5;
}

.input__email {
  max-width: 448px;
  text-align: center;
  position: relative;
}

.email {
  width: 100%;
  padding: 20px 192px 20px 32px;
  border-radius: 999px;
  border: 2px solid lightgray;
  font-weight: 500;
}

.email__btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.customers__logo {
  margin-top: 80px;
}

.customer {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: #a0aec0;
}

.customer__logo--wrapper {
  margin-top: 16px;
  padding-right: 64px;
}

.customer__logo--img {
  opacity: 0.5;
}

.header__img--wrapper {
  width: 60%;
}

.header__img {
  padding: 24px;
}

