@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 32px;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 48px;
  color: #1a202c;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.purple {
  color: #6415ff;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo__img--wrapper {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 40px;
  margin-right: 12px;
}

.treact {
  color: #243e63;
  font-size: 24px;
  font-weight: 900;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0 24px;
  color: #243e63;
  font-size: 14px;
}

.nav__list--login {
  margin-left: 24px;
}

.nav__link--signup {
  background-color: #6415ff;
  padding: 12px 32px;
  color: white;
  border-radius: 999px;
  border: none;
  font-weight: bold;
}

/* HEADER */