@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 32px;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 48px;
  color: #1a202c;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  color: white;
  border-radius: 999px;
  border: none;
  font-weight: bold;
}

.purple {
  color: #6415ff;
}

img {
  width: 100%;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo__img--wrapper {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 40px;
  margin-right: 12px;
}

.treact {
  color: #243e63;
  font-size: 24px;
  font-weight: 900;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0 24px;
  color: #243e63;
  font-size: 14px;
}

.nav__link--signup {
  color: white;
}

.nav__list--login {
  margin-left: 24px;
}

/* HEADER */

.header__section {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__description--left {
  width: 40%;
}

.header__img--wrapper {
  width: 60%;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  font-weight: 700;
  line-height: 1.25;
}

.header__para {
  margin: 32px 0;
}

.our-trusted-customers {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 80px;
}

.customer__logo {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
  height: auto;
}

.two__column--input {
  position: relative;
  max-width: 448px;
}

input {
  width: 100%;
  border-radius: 999px;
  border: 2px solid #a0aec0;
  padding: 20px 192px 20px 32px;
  font-weight: 500;
  opacity: 0.5;
  transition: all 300ms ease;
}

input:hover {
  border: 2px solid #1a202c;
}

input:focus {
    outline: none;
    border: 2px solid #6415ff;
}

.header__btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

@media (max-width: 1200px) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width: 1024px) {
  .description__center {
  flex-direction: column;
  align-items: center;
  }
  
  .nav__links {
    display: none;
  }

  h1 {
    font-size: 30px;
  }

  .header__description--left {
    width: 100%;
    max-width: 511px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .two__column--input {
    width: 100%;
    max-width: 511px;
  }

  .our-trusted-customers {
    margin-top: 40px;
    text-align: center;
  }

  .customer__logo {
    padding-right: 0;
  }

  .header__img--wrapper {
    width: 100%;
    max-width: 511px;
  }

  .header__img {
    margin: 0 12px;
  }
}

@media (max-width: 640px) {
  .description__center {
  flex-direction: column;
  align-items: center;
  text-align: center;
  }
  
  .nav__links {
    display: none;
  }

  h1 {
    font-size: 30px;
  }

  .header__description--left {
    width: 100%;
    max-width: 511px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .two__column--input {
    position: static;
  }

  .header__btn {
    position: static;
    width: 100%;
    padding: 20px 0;
    margin-top: 48px;
    font-size: 16px;
  }

  .our-trusted-customers {
    margin-top: 40px;
    text-align: center;
  }

  .customer__logo {
    padding-right: 0;
  }

  .header__img--wrapper {
    width: 100%;
  }

  .header__img {
    margin: 0 12px;
  }
}